body {
  margin: 0;
  padding: 40px;
  background-color: #eee;
}

.outer {
  width: 600px;
  height: 600px;
  background-color: purple;
  margin: 0 auto;
  font-size: 0;
  position: relative;
}

.column {
  background-color: maroon;
  width: 200px;
  height: 400px;
  display: inline-block;
  position: relative;
}

.col1 {
  top: 0;
}

.col2 {
  top: 100px;
}

.col3 {
  top: 200px;
}
